<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <title>My Movie App</title>
</head>
<body>
<div class="list-movies-title">
    <h1>My Movie App</h1>
</div>

<div>
    <ol class="movie-grid">
        {% for movie in movies %}
            <li>
                <div class="movie">
                    <a href="https://www.imdb.com/title/{{ movie['imdb_id'] }}" target="_blank">
                        <img class="movie-poster" src="{{ movie['poster_url'] }}" alt="{{ movie['title'] }}-Poster"/>
                    </a>
                    <div class="movie-title">{{ movie['title'] }}</div>
                    <div class="movie-year">{{ movie['release_year'] }}</div>
                </div>
            </li>
        {% endfor %}
    </ol>
</div>
</body>
</html>