{% extends 'layout.html' %}

{% block title %}
My Movie App
{% endblock %}

{% block body %}
<div class="list-movies-title">
    <h1>Who is watching?</h1>
</div>

<div>
    <ol class="movie-grid">
        {% for user in users %}
        <li>
            <a href="{{ url_for('main.user_movies', user_id=user['id']) }}">
                <div class="movie">
                    <div class="movie-title">{{ user['username'] }}</div>
                </div>
            </a>
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock %}