<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <title>{% block title %}Fallback Title{% endblock %}</title>
</head>
<body>
<div class="container">
    {% block body %}
    <p>Fallback content.</p>
    {% endblock %}
</div>

{% if msg and msg_lvl %}
<div id="msg" class="message {{ msg_lvl }}">
    <p>{{ msg }} (<span id="timer"></span>)</p>
</div>
{% endif %}

<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>