{% from 'macros/list_crew_members.html' import list_crew_members %}

{% extends 'layout.html' %}

{% block title %}
User Movies
{% endblock %}

{% block body %}
<div class="user-movies">
    <div class="header">
        <a href="{{ url_for('main.index') }}" style="align-self: flex-end">Logout</a>

        <div class="title">
            <h1>Hello {{ user.username }}</h1>
            <h2>Found {{ user_movies|length }} favourite Movies</h2>
        </div>
    </div>

    <div class="search">
        <div>
            <input id="new-movie" type="text" onkeyup="handleKeyUp()" placeholder="Add new Movie"
                   autocomplete="off"/>

            <div id="search-results" class="hidden">
                <div id="no-results" class="result-item">
                    No movies found
                </div>
            </div>
        </div>

        <select id="movie-view" style="align-self: flex-end">
            <option value="compact">Compact</option>
            <option value="normal" selected>Normal</option>
            <option value="wide">Wide</option>
        </select>

        {% if user_movies|length >= start_recommendations %}
        <button onclick="handleRecommendations()" style="align-self: flex-end">
            Recommendations
        </button>
        {% endif %}
    </div>

    <div id="favourites-movie-grid" class="movie-grid">
        {% for user_movie in user_movies %}
        {% set movie = user_movie['movie'] %}

        <div class="movie normal">
            <a href="https://www.imdb.com/title/{{ movie['imdb_id'] }}" target="_blank">
                {% set poster_src = url_for('static', filename='images/placeholder_poster.jpg') if
                movie['poster_url'] == 'N/A' else movie['poster_url'] %}

                <img class="movie-poster"
                     src="{{ poster_src }}"
                     alt="{{ movie['title'] }}-Poster"
                />
            </a>

            <div class="movie-details">
                <div class="movie-details-group">
                    <span class="movie-year">{{ movie['release_year'] }}</span>
                    <span class="movie-title text-ellipsis">{{ movie['title'] }}</span>
                </div>

                <div class="movie-details-group">
                    {% set personal_rating = user_movie['personal_rating'] if
                    user_movie['personal_rating'] else '--' %}

                    <div>
                        Rating: <span class="movie-rating">{{ movie['rating'] }}</span>
                    </div>

                    <div>
                        You rated: <span class="movie-rating">{{ personal_rating }}</span>
                    </div>
                </div>

                <div class="movie-details-group">
                    <span class="movie-genres text-ellipsis">{{ ', '.join(movie['genres'] | map(attribute='name')) }}</span>
                </div>

                <div class="movie-details-group" style="gap: 5px">
                    <div class="movie-crew-group">
                        <span>Directed by</span>
                        <span class="movie-crew-people text-ellipsis">
                            {{ list_crew_members(movie['crew_members'], type='director') }}
                        </span>
                    </div>

                    <div class="movie-crew-group">
                        <span>Written by</span>
                        <span class="movie-crew-people text-ellipsis">
                            {{ list_crew_members(movie['crew_members'], type='writer') }}
                        </span>
                    </div>

                    <div class="movie-crew-group">
                        <span>Actors</span>
                        <span class="movie-crew-people text-ellipsis">
                            {{ list_crew_members(movie['crew_members'], type='actor') }}
                        </span>
                    </div>
                </div>

                <div class="movie-buttons">
                    <form action="{{ url_for('main.update_user_movie', user_id=user['id'], movie_id=movie['id']) }}"
                          method="GET"
                    >
                        <input type="submit" value="Update"/>
                    </form>

                    <form action="{{ url_for('main.delete_user_movie', user_id=user['id'], movie_id=movie['id']) }}"
                          method="GET"
                    >
                        <input type="submit" class="danger" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="recommendations-modal" class="modal hidden">
    <div class="dialog">
        <div class="heading">
            <h2>Recommendations based on your movies</h2>
            <input type="button" onclick="hideModal('recommendations-modal')" value="Close">
        </div>

        <div id="recommendations-movie-grid" class="movie-grid"></div>
    </div>
</div>

{% if movie_to_update %}
<div id="update-modal" class="modal">
    <div class="dialog">
        <div class="heading">
            <h2>Update Movie</h2>
        </div>

        <form action="{{ url_for('main.update_user_movie', user_id=user['id'], movie_id=movie_to_update) }}"
              method="POST"
        >
            <input type="text" name="personal_rating" value="{{ current_rating if current_rating }}"
                   placeholder="Enter personal rating" autocomplete="off" required/>
            <input type="submit" value="Update"/>
            <input type="button" onclick="hideModal('update-modal')" class="danger" value="Cancel"/>
        </form>
    </div>
</div>
{% endif %}

<script src="{{ url_for('static', filename='scripts/movie_search.js') }}" defer></script>
<script src="{{ url_for('static', filename='scripts/movie_view.js') }}" defer></script>
<script src="{{ url_for('static', filename='scripts/recommendations.js') }}" defer></script>
{% endblock %}