{% from 'macros/list_crew_members.html' import list_crew_members %}

{% extends 'layout.html' %}

{% block title %}
User Movies
{% endblock %}

{% block body %}
<div class="user-movies">
    <div class="header">
        <a href="{{ url_for('main.index') }}" style="align-self: flex-end">Logout</a>

        <div class="title">
            <h1>Hello {{ user.username }}</h1>
            <h2>Found {{ user_movies|length }} favourite Movies</h2>
        </div>
    </div>

    <div class="search">
        <input id="new-movie" type="text" onkeyup="handleKeyUp()" placeholder="Add new Movie"
               autocomplete="off"/>

        <div id="search-results" class="hidden">
            <div id="no-results" class="result-item">
                No movies found
            </div>
        </div>
    </div>

    <div class="movie-grid">
        {% for user_movie in user_movies %}
        {% set movie = user_movie['movie'] %}

        <div class="movie">
            <a href="https://www.imdb.com/title/{{ movie['imdb_id'] }}" target="_blank">
                {% set poster_src = url_for('static', filename='images/placeholder_poster.jpg') if
                movie['poster_url'] == 'N/A' else movie['poster_url'] %}

                <img class="movie-poster"
                     src="{{ poster_src }}"
                     alt="{{ movie['title'] }}-Poster"
                />
            </a>

            <div class="movie-details">
                <span class="movie-title">{{ movie['title'] }}</span>
                <span class="movie-year">{{ movie['release_year'] }}</span>
                <span class="movie-rating">
                    {{ movie['rating'] }}

                    {% if user_movie['personal_rating'] %}
                        ({{ user_movie['personal_rating'] }})
                    {% endif %}
                </span>
                <span class="movie-genres">
                    {{ ', '.join(movie['genres'] | map(attribute='name')) }}
                </span>
                <span class="movie-directors">
                    Directors:
                    {{ list_crew_members(movie['crew_members'], type='director') }}
                </span>
                <span class="movie-writers">
                    Writers:
                    {{ list_crew_members(movie['crew_members'], type='writer') }}
                </span>
                <span class="movie-actors">
                    Actors:
                    {{ list_crew_members(movie['crew_members'], type='actor') }}
                </span>

                <div class="movie-buttons">
                    <form action="{{ url_for('main.update_user_movie', user_id=user['id'], movie_id=movie['id']) }}"
                          method="GET"
                    >
                        <input type="submit" value="Update"/>
                    </form>

                    <form action="{{ url_for('main.delete_user_movie', user_id=user['id'], movie_id=movie['id']) }}"
                          method="GET"
                    >
                        <input type="submit" class="danger" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if movie_to_update %}
<div id="modal" class="modal">
    <div class="update-dialog">
        <h2>Update Movie</h2>

        <form action="{{ url_for('main.update_user_movie', user_id=user['id'], movie_id=movie_to_update) }}"
              method="POST"
        >
            <input type="text" name="personal_rating" value="{{ current_rating if current_rating }}"
                   placeholder="Enter personal rating" autocomplete="off" required/>
            <input type="submit" value="Update"/>
            <input type="button" onclick="hideModal()" class="danger" value="Cancel"/>
        </form>
    </div>
</div>
{% endif %}

<script src="{{ url_for('static', filename='scripts/movies.js') }}"></script>
{% endblock %}