{% extends 'layout.html' %}

{% block title %}
User Movies
{% endblock %}

{% block body %}
<div class="container">
    <div class="movie-grid">
        {% for movie in user_movies %}
        <div class="movie">
            <a href="https://www.imdb.com/title/{{ movie['imdb_id'] }}" target="_blank">
                <img class="movie-poster"
                     src="{{ movie['poster_url'] }}"
                     alt="{{ movie['title'] }}-Poster"
                />
            </a>

            <div class="movie-details">
                <span class="movie-title">{{ movie['title'] }}</span>
                <span class="movie-year">{{ movie['release_year'] }}</span>
                <span class="movie-rating">{{ movie['rating'] }}</span>
                <span class="movie-genres">
                    {% for genre in movie['genres'] %}
                        {{ genre['name'] }}{% if loop.index < movie['genres']|length %},{% endif %}
                    {% endfor %}
                </span>

                <div class="movie-buttons">
                    <form action="{{ url_for('main.update_user_movie', user_id=user['id'], movie_id=movie['id']) }}"
                          method="GET"
                    >
                        <input type="submit" value="Update"/>
                    </form>

                    <form action="{{ url_for('main.delete_user_movie', user_id=user['id'], movie_id=movie['id']) }}"
                          method="GET"
                    >
                        <input type="submit" class="delete" value="Delete"/>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}